body {
    font-family: Arial;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.result-box {
    background: #f2f2f2;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}
